<% def writeAndGetRelativeURI(im)
       getImageData(im)[:path].relative_uri_from(adrPageTable[:sheetLoc])
    end %>

body {
	font: x-small sans-serif;
	background: #f9f9f9 url(<%= writeAndGetRelativeURI("headbg") %>) 0 0 no-repeat;
	color: black;
	margin: 0;
	padding: 0;
	text-align: center; /* IE-Fix */
}

#globalWrapper {
	font-size: 127%;
	width: 100%;
	margin: 0;
	padding: 0;
	width: 920px;
	margin: 0 auto;
	text-align: left; /* IE-Fix */
}

#column-content {
	width: 100%;
	float: right;
	margin: 0 0 .6em -12.2em;
	padding: 0;
}

#content {
	margin: 2.8em 0 0 12.2em;
	padding: 0 1em 1.5em 1em;
	background: white;
	color: black;
	border: 1px solid #aaa;
	line-height: 1.5em;
	position: relative;
	z-index: 2;
}

#column-one {
	padding-top: 33px;
}

/* Globale Einstellungen */

table {
	background: white;
	font-size: 100%;
	color: black;
}

a {
	text-decoration: none;
	color: #002bb8;
	background: none no-repeat;
}

a:visited {
	color: #5a3696;
}

a:active {
	color: #faa700;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
	vertical-align: middle;
}

p {
	margin: .4em 0 .5em 0;
	line-height: 1.5em;

}

p img {
	margin: 0;
}

hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}



h1, h2, h3, h4, h5, h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
}

h1 { font-size: 188%; }

h2 { font-size: 150%; }

h3, h4, h5, h6 {
	border-bottom: none;
	font-weight: bold;
}

h3 { font-size: 132%; }
h4 { font-size: 116%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
	list-style-image: url(<%= writeAndGetRelativeURI("bullet") %>);
}

ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}

li {
	margin-bottom: .1em;
}

dt {
	font-weight: bold;
	margin-bottom: .1em;
}

dl {
	margin-top: .2em;
	margin-bottom: .5em;
}

dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: .1em;
}


form {
	border: none;
	margin: 0;
}

abbr, acronym, .explain {
	border-bottom: 1px dotted black;
	color: black;
	background: none;
	cursor: help;
}

q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}

blockquote {
	color: #666666;
}

code, pre {
	background-color: #f9f9f9;
	font-family: "Lucida Sans Typewriter", "Monaco", "Courier New", Courier, monospace;
	font-size: 12px;
}

pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}

/* Die Hauptspalte (rechts) */

/* Some space under the headers in the content area */

#bodyContent h1, #bodyContent h2 {
	margin-bottom: .6em;
}

#bodyContent h3, #bodyContent h4, #bodyContent h5 {
	margin-bottom: .3em;
}

/* External Link */
#bodyContent a.extern {
 	color: #3366bb;
	background: url(<%= writeAndGetRelativeURI("external") %>) center right no-repeat;
	padding-right: 13px;
}

#bodyContent a.wp {
 	color: #3366bb;
	background: url(<%= writeAndGetRelativeURI("wikipedia") %>) center left no-repeat;
	padding-left: 13px;
	important!;
}

#bodyContent a.amazon {
	background: url(<%= writeAndGetRelativeURI("amazon-icon") %>) center right no-repeat;
	padding-right: 13px;
	important!;
}

/* #bodyContent a.extern img {
	padding: 0 !important;
	background: none !important;
} */

/* small for tables and similar */

.small, .small * {
	font-size: 94%;
}

table.small {
	font-size: 100%;
}

/* Die Subnavigation am Fuß der Seite (noch im Content) */

#subnav ul {
	padding: 6px;
	margin-left: 0;
	border: 1px solid #aaa;
}

#subnav ul li {
	list-style: none;
	margin: 0;
	display: inline;
	padding-right: 15px;
}

/* Linke Seitenleiste */
.portlet {
	border: none;
	margin: 0 0 .5em;
	padding: 0;
	float: none;
	width: 11.6em;
	overflow: hidden;
}

.portlet h5 {
	background: transparent;
	padding: 0 1em 0 .5em;
	display: inline;
	height: 1em;
	text-transform: none;
	font-size: 91%;
	font-weight: bold;
	white-space: nowrap;
}

.pBody {
	font-size: 95%;
	background-color: white;
	color: black;
	border-collapse: collapse;
	border: 1px solid #aaa;
	padding: 0 .8em .3em .5em;
}

.portlet h1,
.portlet h2,
.portlet h3,
.portlet h4 {
	margin: 0;
	padding: 0;
}

.portlet ul {
	line-height: 1.5em;
	list-style-type: square;
	list-style-image: url(<%= writeAndGetRelativeURI("bullet") %>);
	font-size: 95%;
}

.portlet li {
	padding: 0;
	margin: 0;
}

/*
** Logo properties
*/

#p-logo {
	position: relative;
	height: 155px;
	width: 12em;
	overflow: visible;
}

/*
** the navigation portlet
*/

#p-navigation {
	position: relative;
}

#p-navigation .pBody {
	padding-right: 0;
}

#p-navigation a {
	display: block;
}

#p-navigation li.active a, #p-navigation li.active a:hover {
	text-decoration: none;
	display: inline;
	font-weight: bold;
}

#footer {
	background-color: white;
	border-top: 1px solid #fabd23;
	border-bottom: 1px solid #fabd23;
	margin: .6em 0 1em 0;
	padding: .4em 0 1.2em 0;
	text-align: center;
	font-size: 90%;
}

#footer li {
	display: inline;
	margin: 0 1.3em;
}

.noteright {
	float: right;
	padding: 8px;
	border: 1px solid;
	width: 200px;
  	background: #ffff00 url(<%= writeAndGetRelativeURI("nadel") %>) top right no-repeat;
}