html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ 
    display:block;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
a:hover {
    text-decoration: underline
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
}
:focus {
    outline: none
}

/* Typographie */
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2DBE60;
    font-size: 1.5em; /* 40px / 16px */
    line-height: 1.2em; /* 48px / 40px */
    margin-bottom: .4em;/* 16px / 40px */
    margin-top: .4em; /* 16px / 40px */
}

h2 {
    border-bottom: 2px solid #dbdbdb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2DBE60;
    font-size: 1.3em; /* 24px/16px */
    line-height: 1em;
    margin-bottom: .666666667em; /* 16px / 24px */
    margin-top: 1em;
}

figcaption,
.top-stories li {
    font-size: .75em; /* 12px / 16px */
}
blockquote {
    font-style: italic;
    margin-bottom: 1.5em;
    padding-left: 1em;
}
blockquote:before {
    content: "\201C";
    float: left;
    font-size: 2.5em;
    font-style: normal;
    left: -.4em;
    position: relative;
}
aside section {
    overflow: hidden;
	font-size: 70%;
	line-height: 140%;
}
a:hover {
    text-decoration: underline
}

cite {
    display: block;
    font-style: normal;
    text-align: right;
}
a {
    color: rgb(157,0,0);
    text-decoration: none;
}

/*
 * Grundlegende Stilregeln
 * --------------------------------------------------*/
body {
    background: #fff;
    color: #333;
    font: 120%/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p,
ul,
ol {
    margin-bottom: 1em
}

#container {
    margin: auto auto 1.5em auto;
    overflow: hidden;
	width: 95%;
	padding: 1.0548523%; /* 10px/948*/
    
}


	.main img,
	.slats img{
		width: 100%;
		max-width: 100%;
	}
	aside img{
		max-width: 100%;
	}
ul.tags li {
    float: left;
    font-size: 14px;
    margin: 0 5px 5px 0;
}
    ul.tags li a {
        -moz-border-radius: 0px 3px 3px 0px;
        -moz-transition: background-color .2s ease-in-out;
        -webkit-border-radius: 0px 3px 3px 0px;
        -webkit-transition: background-color .2s ease-in-out;
        background: #9D0000 url(../images/tag-bg.png) no-repeat 0 50%;
        border-radius: 0px 3px 3px 0px;
        color: #fff;
        float: left;
        font-weight: normal;
        padding: 5px 10px 6px 25px;
        transition: background-color .2s ease-in-out;
    }
    ul.tags li a:active {
        background-color: #ccc
    }
    ul.tags li a:hover,
    ul.tags li a:focus {
        background-color: #333
    }

.articleInfo {
	font-style: italic;
	font-size: 85%;
}
.related li {
    list-style-type: none
}
.related h3 {
    line-height: 1em;
    margin-bottom: 0em;
}
.related time {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .625em;
    line-height: 1em;
    margin-bottom: 1.5em;
}
.more-stories {
    padding-top: 1.5em;
	clear: both;
}

.inner {
    margin: auto;
    overflow: hidden;
    width: 95%;
	padding: 0 1.0548523%;
}

	footer[role="contentinfo"] {
	    background: rgb(34,34,34);
	    border-top: 5px solid #ccc;
	    color: rgb(143,143,143);
	}
	    footer[role="contentinfo"] .inner {
	        overflow: hidden
	    }
	    footer[role="contentinfo"] .top {
	        color: rgb(143,143,143);
			padding-right: 0;
	    }
	        footer[role="contentinfo"] .top a:after {
	            content: " \25B2 ";
	            font-weight: bold;
	        }

	    footer[role="contentinfo"] h1 {
	        text-align: center
	    }
	    footer[role="contentinfo"] ul {
	        margin-bottom: 0
	    }
	    footer[role="contentinfo"] h1 {
	        /* 20px / 40px */
	        margin-left: .5em;
	        margin-right: .5em;
	    }
		footer nav[role="navigation"] {
		    background: rgb(34,34,34);
		    background-image: none;
			font-size: .9em;
		}
		    footer nav[role="navigation"] li.active a {
		        color: #CCC;
		        font-weight: bold;
		    }
		    footer nav[role="navigation"] li a:active {
		        color: #CCC
		    }
		    footer nav[role="navigation"] li a:hover,
		    footer nav[role="navigation"] li a:focus {
		        color: #EEE
		    }
		    footer nav[role="navigation"] a {
		        color: #999
				}
#video {
	display: block;
	padding: .3em;
	margin-bottom: 1em;
	background: url(../images/video.png) 5px center no-repeat #e3e0d9;
	padding-left: 35px;
	border: 1px solid rgb(175,175,175);
	color: #333;
}
.vid-wrapper{
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.vid-wrapper iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ----- Navigation ----- */

header {
	  background: #181818;
	  height: 60px;
	  padding-top: 10px;
	  padding-bottom: 10px;
}


.inner {
	  max-width: 1000px;
	  margin: 0 auto;
	  padding: 0px 0px;
	  position: relative;
}

.logo {
	  text-decoration: none;
	  color: #ffffff;
	  font-weight: 100;
	  font-size: 18px;
	  line-height: 40px;
}


nav > ul {
  	float: right;
}

nav > ul > li {
	font-size: 12px;
  	text-align: center;
	  line-height: 40px;
	  margin-left: 40px;
}

nav ul li:hover {
	  cursor: pointer;
	  position: relative;
}

nav ul li:hover > a {
	  color: #777;
}
nav > ul > li > a {
	  cursor: pointer;
	  display: block;
  	outline: none;
  	width: 100%;
	  text-decoration: none;
}

nav > ul > li {
  	float: left;
}
nav a {
	  color: white;
}

[type="checkbox"], label {
	  display: none;
}

/* ------ Responsive Regeln ------- */

/* 600px */
@media screen (min-width: 37.5em) {
	.slats li {
	    float: left;
		margin-right: 2.5316456%; /* 24px / 948px */
		width: 31.6455696%; /* 300/948 */
	}
	.slats li:last-child {
	    margin-right: 0;
	}
	@font-face {
	    font-weight: normal;
	    font-style: normal;
	} 
	
}
/* 860px */
@media screen and (min-width: 53.75em) {
	aside{
		display: block;
		margin-bottom: 1em;
		padding: 0 1%;
		width: auto;
	}
	
	aside section{
        float: left;
        margin-right: 2%;
        width: 48%;
	}
	header[role=banner] .inner{
		background: url('../images/football_bg.png') bottom right no-repeat;
	}
	nav[role="navigation"] li {
	    float: left;
		border-top: 0;
	}
	nav[role="navigation"] a {
		float: left;
	}
	footer[role="contentinfo"] .top {
		float: right;
	}

}
/* 940px */
@media screen and (min-width: 58.75em) {
	.main {
		display: table-cell;
		padding-right: 2.5316456%; /* 24px / 948px */
	}
	aside {
	    display: table-cell;
		width: 300px;
	}
	aside section{
		float: none;
		width: 100%;
	}
}
/* 1300px */
@media all and (min-width: 81.25em) {
	.main section img{
		margin-bottom: 1em;
		border: 3px solid #dbdbdb;
	}
	.main .articleInfo {
	    border-bottom: 2px solid #dbdbdb;
	}
	.main section{
		-moz-column-count: 2; /* Firefox */
		-webkit-column-count: 2; /* Safari, Chrome */
		column-count: 2;
		-moz-column-gap: 1.5em; /* Firefox */
		-webkit-column-gap: 1.5em; /* Safari, Chrome */
		column-gap: 1.5em;
		-moz-column-rule: 1px dotted #ccc; /* Firefox */
		-webkit-column-rule: 1px dotted #ccc; /* Safari, Chrome */
		column-rule: 1px dotted #ccc;
	}
}
/* Navbar spezifisch */
@media screen and (max-width: 58.75em) {
	nav ul {
		  display: none;
	}

	label {
  		display: block;
  		background: #222;
		  width: 40px;
  		height: 40px;
  		cursor: pointer;
		  position: absolute;
		  right: 20px;
  		top: 0px;
	}
  
label:after{
  content:'';
  display: block;
  width: 30px;
  height: 5px;
  background: #777;
  margin: 7px 5px;
  box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
}

	[type="checkbox"]:checked ~ ul {
  		display: block;
  		z-index: 9999;
  		position: absolute;
		  right: 20px;
		  left: 20px;
	}

	nav a {
		  color: #777;
	}

	nav ul li {
		  display: block;
  		float: none;
  		width: 100%;
  		text-align: left;
  		background: #222;
		  text-indent: 20px;
	}

	nav > ul > li {
  		margin-left: 0px;
	}

	nav > ul li ul li {
  		display: block;
		  float: none;
	}
  
	nav > ul li ul {
		  display: block;
  		position: relative;
  		width: 100%;
		  z-index: 9999;
		  float: none;
	}
h1 {
	  font-size: 26px;
}
}